%a{:href => "#", :class => "nav_link"} Объявления
%a{:href => "#", :class => "nav_link"} Пользователи
%a{:href => "#", :class => "nav_link"} Войти / Выйти
%a{:href => "#", :class => "nav_link"} Профиль
%hr/
= current_user.to_s
%hr/

